---
layout: page
title:
  en: Posts
  es: Entradas
search_omit: true
---

<ul class="post-list">
	{% assign posts=paginator.posts %}
	{% for post in posts %} 
	  {% if post.layout == 'post' %}
	    <li><article>
		  <a href="{{ site.url }}{{ post.url }}">{{ post.title }}
			<span class="entry-date">
			  {% assign month = post.date | date: "%B" %}
			  <time datetime="{{ post.date | date_to_xmlschema }}">{{ site.data.translations[page.lang][month] }} {{ post.date | date: " %d, %Y" }}</time>
			</span>
		  </a>
        </article></li>
      {% endif %}
	{% endfor %}
</ul>
