<!doctype html>
<html class="no-js" lang="{{ page.lang }}">
<head>
{% include head.html %}
</head>

<body id="post">

{% include navigation.html %}

<div id="main" role="main">
 	<article class="hentry">

		{% include heading.html %}
	
		<div class="entry-wrapper">
			{% include page-title.html %}

			<!-- Post information -->
			<footer class="entry-meta">
				<!-- Avatar -->
				<img src="{{ site.url }}/images/{{ site.owner.avatar}}" class="bio-photo" alt="{{ site.owner.name }} bio photo"></a>

				<!-- Author name -->
				<span class="author vcard">
					{{ site.data.translations[page.lang].by }}
					<span class="fn">
						{{ site.owner.name }}
					</span>
				</span>

				<!-- Publish date -->
				<span class="entry-date date published">
					<time datetime="{{ page.date | date_to_xmlschema }}">
						<i class="fa fa-calendar-o"></i>
						{% assign month = page.date | date: "%B" %}
						{{ site.data.translations[page.lang][month] }}
						{{ page.date | date: " %d, %Y" }}
					</time>
				</span>

				<!-- Modified date -->
				{% if page.modified %}
					<span class="entry-date date modified">
						<time datetime="{{ page.modified }}">
							<i class="fa fa-pencil"></i>
							{{ page.modified | date: "%B %d, %Y" }}
						</time>
					</span>
				{% endif %}

				<!-- Comments section -->
				{% if (site.owner.disqus-shortname and page.comments) or site.comments %}
					<span class="entry-comments">
						<i class="fa fa-comment-o"></i>
						<a href="#disqus_thread">Comment</a>
					</span>
				{% endif %}

				<!-- Social sharing -->
				{% include social-share.html %}
			</footer>

			<!-- Post content -->
			<div class="entry-content">
				{{ content }}

				<!-- Show comments -->
				{% if (site.owner.disqus-shortname and page.comments) or site.comments %}
					<div id="disqus_thread"></div><!-- /#disqus_thread -->
					{% include disqus-comments.html %}
				{% endif %}
		  	</div><!-- /.entry-content -->
		</div><!-- /.entry-wrapper -->

		<!-- Pagination -->
    	<nav class="pagination" role="navigation">
      		{% if page.previous %}
        		<a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previo</a>
      		{% endif %}
      		{% if page.next %}
        		<a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Siguiente</a>
      		{% endif %}
    	</nav><!-- /.pagination -->
	</article>
</div><!-- /#main -->

{% include footer.html %}
{% include scripts.html %}

</body>
</html>
